* {
    overflow: hidden;
    font-family: sans-serif;
    }

body {
    display: flex;
    width: 100%;
    max-width: 1480px;
    height: 100vh;
    margin: 0 auto;
    flex-direction: column;
    background-image: url('assets/giphy-site.gif');
}

.titulo-geral {
    color: #F5EDD5;
    font-size: 100px;
    padding-bottom: 200px;
}

#play {
    color: white;
    padding: 30px 70px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 1.4px;
    font-weight: 600;
    background-image: linear-gradient(45deg, #7C1315, #E13D40, #7C1315, #E13D40);
    background-size: 400% 200%;
    animation: textura 3.4s cubic-bezier(0.2, 0.5, 0.9, 0.6) infinite;
    transition: background 1.6s cubic-bezier(0.55, 0.1, 0.47, 0.94) 0s;
}

@keyframes textura {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}